<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eFcse73080</display-name>
  <welcome-file-list>
    <welcome-file>Catalogue.jspx</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet</description>
    <display-name>CatalogueServlet</display-name>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>control.servlets.CatalogueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/Catalogue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/Catalogue</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>control.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashierServlet</display-name>
    <servlet-name>CashierServlet</servlet-name>
    <servlet-class>control.servlets.CashierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashierServlet</servlet-name>
    <url-pattern>/Cashier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsolidateServlet</display-name>
    <servlet-name>ConsolidateServlet</servlet-name>
    <servlet-class>control.servlets.b2b.ConsolidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsolidateServlet</servlet-name>
    <url-pattern>/Consolidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServlet</display-name>
    <servlet-name>GenericServlet</servlet-name>
    <servlet-class>control.servlets.GenericServlet</servlet-class>
  </servlet>
  <filter>
    <display-name>CashierValidationFilter</display-name>
    <filter-name>CashierValidationFilter</filter-name>
    <filter-class>control.validators.CashierValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CashierValidationFilter</filter-name>
    <servlet-name>CashierServlet</servlet-name>
  </filter-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Consolidate</realm-name>
  </login-config>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Consolidation</web-resource-name>
      <url-pattern>/Consolidate</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>