/*<STYLE>*/
	
  MENU {
	border: 1px solid #cacbce;
	font-size: 10pt;
	font-weight: 600; 
	font-family: :Arial, Helvetica, sans-serif
	padding: 2px 2px 2px 2px; 
	vertical-align: middle;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	background-color: #5292CC; 
	display: block;
	margin: 0px 0px 0px 0px; 
	color:white;
	} 
 
  #MAIN_MENU {
	margin-left: 2pt; text-align: left;
	border-style: none !important; 
	display: block !important; 
	height:30px;	
	align:center;
	left: 0px; 
	top: 155px; 
	background-color: #800517; 
	color: white; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	} 

 MENU DIV {
	background-color: red; 
	text-align:middle;
	padding: 0px 0px 0px 0px; 
	border: 1px none white; 
	vertical-align: middle; 
	cursor: pointer; 
	display: block ! important;
	color:white;
        } 

#header .headlinks{
	text-align:left;
	margin:1px 2px 0px 0px;
	padding:0px;
	position:absolute;
	top:10px;	
	width:350px;
	left:700px;
	min-height:16px;
	height:auto !important;
	height:16px;
	font-size:10px;	
       }
#bottom .bottomlinks{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px;
	position:absolute;
	bottom:0px;
	left:500px;	
	min-height:16px;
	height:auto !important;
	height:16px;
	font-size:8px;	
       }

#header .headlinks a:link, a:visited{font-size:10px;color:#000;text-decoration:none;margin:0px 10px;}
#header .headlinks a:hover, a:active{text-decoration:underline;}
#header .headlinks a img{margin:0px 2px 0px 0px;padding:0px;border:0px;vertical-align:middle;}
a.menuLink:link, a.menuLink:visited{font-size:14px;color:white ;text-decoration:none;margin:0px 10px;}
a:link, a:visited{font-size:14px;color:black ! importan;text-decoration:none;margin:0px 10px;}
/*</STYLE> */

.messageBox {
	 position: static;
	 display: block;
	 background-color: #ffdead;
	 border: 1px solid #800000;
	}


.messageBox_Search {
	 position: static;
	 display: block;
	 background-color: #CCCCFF;
	 border: 1px solid #CCCCFF;
	}	
	
	
.messageBox_Absolute {
	 position: absolute;
	 display: block;
	 background-color: #ffdead;
	 border: 1px solid #800000;
	}	
	
	
	
.specialButton{
	color:white;
	background-color: #990000;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight :bold;
}


.specialButtonBlue{
	color:white;
	background-color:#CC3366;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight :bold;
}

a,a:link{
	color :blue;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

a.headers:link{
	color :white;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.headers:visited{
	color :white;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}


a.sigOUT:link{
	color :blue;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight :normal;
}



table.{
	font-weight :normal;
	font-size :12px;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
}


td.title
{
	
	font-style :normal ;
	font-weight :bold;
	font-size :12px;
	color :black;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

	 
}

.welcometext
{
	
	font-weight :normal;
	color :Blue;
	display :block;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

tr.tr td {background-color:white;}
tr.selected {background-color:#FF6633;}


td.press {background-color:yellow;}
td.td {background-color:white;}


tr.selectedForEdit{
background-color:#99FFFF;
}



td.cellSelect{
background-color:yellow;
}
.Error
{
	font-weight :bold;
	color :green;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}


.importanttext
{
	
	font-weight :normal;
	color :red;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12pt;

}

tr.header{
	background-color:#8F2B2B; /*#D5D2C9;*/
	font-size :14px;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:white;
	font-weight :bold;
}


.tableCellColor{
	background-color:white;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.caption{
	color:blue;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
}

td.header{
	color:green;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight :bold;
}

.highlightText{
	color:#336600;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td.header{
	
	font-weight :bold;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :12px;	
	background-color:#D5D2C9;
}

td.NameOFTheField{

	color:#CC3300;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight :bold;
}

d.NameOFTheField_Regular{

	color:black;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight :bold;
}

.borderbg {
	background-color: #F8F8FF ;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.paragraph {
	position: relative;
	left: 10%;
	width: 80%;
	font-size: 10pt;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

.commands {
	left: 10%;
	position: relative;
	font-size: 10pt;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}


.mainTable {
	bgcolor: #F8F8FF; 
	text-align: center;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

.u{
FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

body {
	background-color:white;//#E2DFCC;	
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-left :4;
	margin-right :0;
	margin-bottom :0;
	margin-top :0;
}